<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="src/assets/jetLogo.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="color-scheme" content="light dark" />
		<link rel="stylesheet" href="https://static.oracle.com/cdn/fnd/gallery/2604.0.2/images/preview/index.html">
		<link rel="stylesheet" href="Theme-redwood/theme.css">
		<title>Vite + Preact + JET</title>
	</head>
	<body>
		<div id="app"></div>
		<script type="module" src="/src/index.tsx"></script>
	</body>
</html>
